<!--<%= request.remote_ip %></center><br> -->
<% if flash[:notice] %>
<div id="flash">
  <%= flash[:notice] %>
</div>
<% end %>


<div id="login">
      <h4>Acesso a Intranet</h4>
  <% form_tag("/core/login") do %>
    Usuário: <%= text_field :login, :usuario %><br>
    Senha:&nbsp;<%= password_field :login, :senha %><br>
    <%= submit_tag "Logar" %>
  <% end %>

</div>

