<div id="barra_titulo">
  <h3 class="titulo_new">Alterar Item</h3>
</div>
<div class="formulario">
  <% form_for @form_item, :url=>{:action=>'update'} do |f| %>
    <%= f.error_messages %>
    <p><%= f.label :rotulo %><%= f.text_field :rotulo %></p>
    <%= ecm_edit_form_item(@form_item) %>
  <% end %>
</div>
<div id="link_voltar">
  <%= link_to 'Voltar', ecm_formulario_itens_formularios_path(@formulario) %>
</div>

