<div id="barra_titulo">
  <h3 class="titulo_index">Lista de Itens</h3>
  <div id="link_botao"><%= link_to 'Novo Item', new_ecm_formulario_itens_formulario_path(@formulario) %></div>
</div>
<table id="listar">
  <tr>
    <th class="titulo_lista">Rotulo</th>
    <th class="titulo_lista">Componente</th>
    <th class="titulo_lista">Posicionamento</th>
  </tr>
    <% @form_itens.each do |form_item| %>
    <tr>
      <td class="itens_index">
        <%= link_to form_item.rotulo, ecm_formulario_itens_formulario_path(@formulario, form_item) %>
      </td>
      <td class="itens_index">
        <%= form_item.itenstipo.nome %>
      </td>
      <td>
      <%= link_to 'sobe', ecm_formulario_itens_formulario_path(@formulario, form_item,:acao=>"sobe") %>
      <%= link_to 'desce', ecm_formulario_itens_formulario_path(@formulario, form_item,:acao=>"desce") %>
      </td>
    </tr>
	  <% end %>
</table>
<%= link_to "Voltar", ecm_categoria_formularios_path(@formulario.formulariocategoria_id) %></td>


<h2>Preview</h2>
<table class="formulario">
    <% @formulario.itensformularios.sort_by{|it| it.posicao}.each do |form_item| %>
    <tr>
      <td class="lista_item">
        <%= form_item.rotulo %>
      </td>
      <td class="lista_conteudo">
        <%= ecm_new_cadastro_item(form_item) %>
      </td>
    </tr>
    <% end %>
</table>

