<div id="barra_titulo">
  <h3 class="titulo_index">Lista de Sistemas do Grupos</h3>
</div>

  <% form_tag(:action=>"create") do %>
  <table id="listar">
   <tr>
     <th class="titulo_lista">Sistemas Inclusos no Grupo</th>
    </tr>
    <% @gruposistemas.each do |gs| %>
    <tr>
      <td>
       <%= check_box_tag "sistemas[]", gs.id %>
       <%= gs.sistema.nome %>
      </td>
    </tr>
    <% end %>
    <tr>
      <td><%= submit_tag "Remover" %></td>
    </tr>
  </table>
  <% end %>


  <% form_tag(:action=>"create") do %>
  <table id="listar">
   </tr>
     <th class="titulo_lista">Sistemas não Inclusos no Grupo</th>
    </tr>
    <% @sistemas.each do |sistema| %>
    <tr>
      <td>
       <%= check_box_tag "sistemas[]", sistema.id %>
       <%= sistema.nome %>
      </td>
    </tr>
    <% end %>
    <tr>
      <td><%= submit_tag "Adicionar" %></td>
    </tr>
  </table>
  <% end %>

<div id="link_voltar">
  <%= link_to 'Voltar', core_admingrupos_path %>
</div>

