<div id="barra_titulo">
  <h3 id="titulo_edit">Editar Entidades</h3>
</div>

<div class="formulario">
  <% form_for @entidade, :id=>"forms", :url=>{:action=>'update'}, :html => { :multipart => true } do |f| %>
    <%= f.error_messages %>
    <%= f.label :nome %><br><%= f.text_field :nome %><br>
    <%= f.label :razao_social %><br><%= f.text_field :razao_social %><br>
    <%= f.label :cpf_cnpj, 'CPF/CNPJ' %><br><%= f.text_field :cpf_cnpj %><br>
    <%= f.label :cidade %><br><%= f.text_field :cidade %><br>
    <%= f.label :endereco, 'Endereço' %><br><%= f.text_field :endereco %><br>
    <%= f.label :bairro %><br><%= f.text_field :bairro %><br>
    <%= f.label :cep %><br><%= f.text_field :cep %><br>
    <%= f.label :telefone %><br><%= f.text_field :telefone %><br>
    <%= f.label :email, 'E-mail' %><br><%= f.text_field :email %><br>
    <%= f.label :nome_responsavel, 'Nome do Responsavel' %><br><%= f.text_field :nome_responsavel %><br>
    <%= f.label :telefone_responsavel, 'Telefone do Responsavel' %><br><%= f.text_field :telefone_responsavel %><br>
    <%= f.label :email_responsavel, 'E-mail do Responsavel' %><br><%= f.text_field :email_responsavel %><br><br>

    <%= f.label :tema, 'Tema' %><br><%= f.select :tema, Dir.open("public/theme").collect {|t| [t] if t != "." and t != ".."}.compact %><br>
    <%= f.label :logo, 'Logomarca' %><br><%= f.file_field :logo %>

    <%= f.submit 'Salvar', :class=>"botao_formulario" %>
  <% end %>
</div>

<div id="link_voltar">
  <%= link_to 'Voltar', core_entidade_path(@entidade) %>
</div>

