<div id="barra_titulo">
  <h3 class="titulo_show">Entidade</h3>
  <div  class="abilita"><%= link_to "Ativar/Desativar", {:controller=>"/core/entidades", :action=>"mudar_status", :id=>@entidade}, :confirm => 'Você tem certesa que quer ativar eu desativar esta entidade?' %></div>
  <div class="edit"><%= link_to 'Editar', edit_core_entidade_path(@entidade) %></div>
  <div class="usuarios_index"><%= link_to 'Usuarios', core_entidade_usuarios_path(@entidade) %></div>
</div>

<table id="listar">
  <tr>
    <td class="lista_item">Nome</td>
    <td class="lista_conteudo"><%= @entidade.nome %></td>
  </tr>
  <tr>
    <td class="lista_item">Razão Social</td>
    <td class="lista_conteudo"><%= @entidade.razao_social %>
  </tr>
  <tr>
    <td class="lista_item">CPF/CNPJ</td>
    <td class="lista_conteudo"><%= @entidade.cpf_cnpj %></td>
  </tr>
  <tr>
    <td class="lista_item">Cidade</td>
    <td class="lista_conteudo"><%= @entidade.cidade %></td>
  </tr>
  <tr>
    <td class="lista_item">Endereço</td>
    <td class="lista_conteudo"><%= @entidade.endereco %></td>
  </tr>
  <tr>
    <td class="lista_item">Bairro</td>
    <td class="lista_conteudo"><%= @entidade.bairro %></td>
  </tr>
  <tr>
    <td class="lista_item">CEP</td>
    <td class="lista_conteudo"><%= @entidade.cep %></td>
  </tr>
  <tr>
    <td class="lista_item">Telefone</td>
    <td class="lista_conteudo"><%= @entidade.telefone %>
  </tr>
  <tr>
    <td class="lista_item">E-mail</td>
    <td class="lista_conteudo"><%= @entidade.email %></td>
  </tr>
  <tr>
    <td class="lista_item">Nome do Responsavel</td>
    <td class="lista_conteudo"><%= @entidade.nome_responsavel %></td>
  </tr>
  <tr>
    <td class="lista_item">Telefone do Responsavel</td>
    <td class="lista_conteudo"><%= @entidade.telefone_responsavel %></td>
  </tr>
  <tr>
    <td class="lista_item">E-mail do Responsavel</td>
    <td class="lista_conteudo"><%= @entidade.email_responsavel %></td>
  </tr>
  <tr>
    <td class="lista_item">Status</td>
    <td class="lista_conteudo"><%= status(@entidade.status) %></td>
  </tr>
  <tr>
    <td class="lista_item">Tema</td>
    <td class="lista_conteudo"><%= @entidade.tema %></td>
  </tr>
  <tr>
    <td class="lista_item">Logomarca</td>
    <td class="lista_conteudo"><%= image_tag @entidade.logo.url %></td>
  </tr>
</table>
<div id="link_voltar">
  <%= link_to 'Voltar', core_entidades_path %>
</div>

