<div id="barra_titulo">
  <h3 id="titulo_new">Cadastrar Usuario</h3>
</div>

 <table class="formulario">
  <% form_for @usuario, :url=>{:action=>'create'}, :html => { :multipart => true } do |f| %>
      <tr>
        <td class="error_messages"><%= f.error_messages %></td>
      </tr> 
      <tr>
        <td class="lista_item"><%= f.label :nome %></td>
        <td class="lista_conteudo"><%= f.text_field :nome %></td>
      </tr>
      <tr>  
        <td class="lista_item"><%= f.label :email, 'E-mail' %></td>
        <td class="lista_conteudo"><%= f.text_field :email %></td>
      </tr>
      <tr>
        <td class="lista_item"><%= f.label :login %></td>
        <td class="lista_conteudo"><%= f.text_field :login %></td>
      </tr>
      <tr>
        <td class="lista_item"><%= f.label :avatar %></td>
        <td class="lista_conteudo"><%= f.file_field :avatar %></td>
      </tr>
      <tr>
        <td class="lista_item"><%= f.label :senha %></td>
        <td class="lista_conteudo"><%= f.password_field :senha %></td>
      </tr>
      <tr>
        <td class="lista_item"><%= f.label :senha_confirmation, 'Confirme a Senha' %></td>
        <td class="lista_conteudo"><%= f.password_field :senha_confirmation %></td>
      </tr>
      <tr>
        <td class="lista_item"/>
        <td class="lista_conteudo"><%= f.submit 'Salvar', :class=>"botao_formulario" %></td>
      </tr>
  <% end %>
 </table>

<div id="link_voltar">
  <%= link_to 'Voltar', core_adminusuarios_path %>
</div>

