<div id="barra_titulo">
  <h3 class="titulo_index">Lista de Verbetes da Pagina Principal</h3>
  <div class="new_grupo"><%= link_to 'Novo Verbete', new_core_entidade_paginaentidade_path(@sessao_usuario.entidade_id)  %></div>
</div>
<div id="pagina_verbete">
<% @sessao_usuario.entidade.paginaentidades.each do |p| %>

 <% if p.tipo == "intranet" %>
 <div class="verbete">
  <div class="titulo_verbete">   
    <b>Criado em: <%= p.created_at.to_s %> por <%= p.usuario.nome %></b>
<!--    <div class="acoes_verbete">
                <a class="fechar" href="#">&nbsp;</a>    
                <a class="max"    href="#">&nbsp;</a>
                <a class="mini"   href="#">&nbsp;</a>
    </div>
-->    
    <div id="edit_pagina_verbete">
        
        <%= link_to '&nbsp;', core_entidade_paginaentidade_path(@sessao_usuario.entidade_id, p), :method=>"delete",:class=>"excluir"  %>
        <%= link_to '&nbsp;', edit_core_entidade_paginaentidade_path(@sessao_usuario.entidade_id, p), :class=>"alterar"  %>
    </div>
  </div>  
  <div class="conteudo_verbete">
    <%= p.pagina %>
  </div>  
 </div>
 <% end %>
<% end %>
</div>

