<div id="barra_titulo">
  <h3 class="titulo_index">Lista de Verbetes da Pagina Principal</h3>
  <div class="new_grupo"><%= link_to 'Novo Verbete', new_core_entidade_paginaentidade_path(@sessao_usuario.entidade_id)  %></div>
</div>
<div id="pagina_verbete">
<% @sessao_usuario.entidade.paginaentidades.each do |p| %>
  Criado em: <%= p.created_at.to_s_br %> por <%= p.usuario.nome %>
  <%= p.pagina %>
  <div id="edit_pagina_verbete">
    <%= link_to 'Alterar', edit_core_entidade_paginaentidade_path(@sessao_usuario.entidade_id, p)  %>
    <%= link_to 'Excluir', core_entidade_paginaentidade_path(@sessao_usuario.entidade_id, p), :method=>"delete"  %>
  </div>
  <hr>
<% end %>
</div>

