<% form_remote_tag :url=>{:controller=>'/gde/navegadordearquivos', :action=>'update'} do -%>
<%= submit_tag 'Baixar Arquvios Marcados', :class=>"botao_formulario" %>
<ol>
<% @categorias.each do |cat| %>
  <li><%= cat.nome %>
    <ol>
      <% cat.formularios.each do |form| %>
        <li><%= form.titulo %></li>
          <ol>
            <% form.cadastros.each do |cad| %>
              <% principal = Itensformulario.find(cad.formulario.principal_id) %>
              <li><%= link_to ecm_show_cadastro_item(principal, cad), ecm_formulario_cadastro_path(cad.formulario_id, cad) %></li>
                <ul>
                  <% cad.children.each do |art| %>
                    <div class="<%= art.artefato.mime_type %>">
                      <li>
                        <%= check_box_tag "artefatos[]", art.id %>
                        <%= art.artefato.objeto_file_name %>
                      </li>
                    </div>
                  <% end %>
                </ul>
            <% end %>
          </ol>
      <% end %>
    </ol>
  </li>
<% end %>
<%= submit_tag 'Baixar Arquvios Marcados', :class=>"botao_formulario" %>
<% end %>
</ol>

