<div id="barra_titulo">
  <div id="link_botao">
    <%= link_to "Ajuda", ecm_formulario_ajudas_formulario_path(@formulario,1), :popup=>true %>
  </div>
  <h3 class="titulo_new">Alterando <%= @formulario.titulo %></h3>
</div>
<table class="formulario">
  <% form_for @cadastro, :url=>{:action=>'update'}, :html=>{:multipart=>true} do |f| %>
    <tr>
      <td></td>
      <td class="error_messages">
        <%= f.error_messages %>
      </td>
    </tr>
    <% @formulario.itensformularios.each do |form_item| %>
    <tr>
      <td class="lista_item">
        <%= form_item.rotulo %>
      </td>
      <td class="lista_conteudo">
        <%= ecm_edit_cadastro_item(form_item, @cadastro) unless @params %>
        <%= ecm_edit_cadastro_item(form_item, @cadastro) if @params %>
      </td>
    </tr>
    <% end %>
    <tr>
      <td class="lista_item"></td>
      <td class="lista_conteudo">
        <%= f.submit 'Salvar', :class=>"botao_formulario" %>
      </td>
    </tr>
  <% end %>
</table>
<div id="link_voltar">
  <%= link_to 'Voltar', ecm_formulario_cadastros_path(@formulario) %>
</div>

