<div id="barra_titulo">
  <h3 class="titulo_show">Exibindo <%= @formulario.titulo %></h3>
  <div id="link_botao">
    <%= link_to "Ajuda", ecm_formulario_ajudas_formulario_path(@formulario,1), :popup=>true %>
  </div>
  <% if @formulario.permissao(@sessao_usuario.usuario) > 1 %>
  <div id="link_botao"><%= link_to 'Editar', edit_ecm_formulario_cadastro_path(@formulario, @cadastro) %></div>
  <% end %>
</div>

<table id="listar">
  <% @formulario.itensformularios.sort_by{|it| it.posicao}.each do |form_item| %>
  <tr>
    <td class="lista_item"><%= form_item.rotulo %></td>
    <td class="lista_conteudo"><%= ecm_show_cadastro_item(form_item, @cadastro) %></td>
  </tr>
  <% end %>
</table>

<div id="link_voltar">
  <%= link_to 'Voltar', ecm_formulario_cadastros_path(@formulario) %>
  <div id="show_actions">
   <%= link_to_remote "Comentarios", :url=>(url_for(ecm_cadastro_comentarios_path(@cadastro))), :method=>"get" %> |
   <%= link_to_remote "Artefatos", :url=>(url_for(ecm_cadastro_artefatos_path(@cadastro))), :method=>"get" %> |
   <%= link_to_remote "Relacionamentos", :url=>(url_for(ecm_cadastro_relacionados_path(@cadastro))), :method=>"get" %>
  </div>
</div>
<div id="comentarios">
</div>
<div id="artefatos">
</div>
<div id="relacionados">
</div>

