<h3>Grupo</h3>
Nome: <%= @grupo.nome %><br>
Descrição: <%= @grupo.descricao %><br>
Entidade: <%= @grupo.entidade.nome %><br><br>

<%= link_to 'Editar', edit_core_entidade_grupo_path(@entidade, @grupo) %>&nbsp;&nbsp;&nbsp;&nbsp;
<%= link_to 'Voltar', core_entidade_grupos_path(@entidade) %>&nbsp;&nbsp;&nbsp;&nbsp;

