<div id="barra_titulo">
  <h3 class="titulo_new">Cadastrar Grupo</h3>
</div>
<table class="formulario">
  <% form_for @grupo, :url=>{:action=>'create'} do |f| %>
  <tr>
      <td class="error_messages">
        <%= f.error_messages %>
        <%= f.hidden_field :entidade_id, :value=>@sessao_usuario.usuario.entidade_id %>
      </td>
  </tr>
  <tr>
      <td class="lista_item"><%= f.label :nome %></td>
      <td class="lista_conteudo"><%= f.text_field :nome %></td>
  </tr>
  <tr>
      <td class="lista_item"><%= f.label :descricao, 'Descrição' %></td>
      <td class="lista_conteudo"><%= f.text_field :descricao %></td>
  </tr>
  <tr>
      <td class="lista_item" />
      <td class="lista_conteudo"><%= f.submit 'Salvar', :class=>"botao_formulario" %></td>
  </tr>
  <% end %>
</table>
<div id="link_voltar">
  <%= link_to 'Voltar', core_admingrupos_path %>
</div>

