<div id="barra_titulo">
  <h3 class="titulo_relatorio_entidades">Relatório Resumido da Entidade</h3>
</div>
<table id="listar" class="relatorio_entidades">
  <tr>
    <th class="titulo_lista">Dados Levantados</th>
  </tr>
    <td class="itens_index">

    <% @entidade.formulariocategorias.each do |cat| %>
      <ul><h3><%= cat.nome %></h3>
      <% cat.formularios.each do |f| %>
        <li><%= f.titulo %> - <%= f.cadastros.size.to_s %></li>
      <% end %>
      </ul>
    <% end %>

    </td>
  </tr>
  <tr>
    <td class="itens_index">
      <b>Total de Cadastros:</b> <%= Cadastro.da_entidade(@sessao_usuario.entidade_id).do_tipo(1).count('id')  %><br>
      <b>Total de Artefato:</b> <%= Cadastro.da_entidade(@sessao_usuario.entidade_id).do_tipo(2).count('id')  %><br>

      <b>Total de Espaço Utilizado:</b> <%= Artefato.da_entidade(@sessao_usuario.entidade_id).sum('objeto_file_size')  %><br>
      <b>Total de Documentos Digitalizados:</b> <%= Artefato.da_entidade(@sessao_usuario.entidade_id).sum('objeto_file_size')/@sessao_usuario.entidade.mediaarquivo %><br>
    </td>
  </tr>
</table>

