<div id="barra_titulo">
  <h3 class="titulo_index">Lista de Artefatos</h3>
  <% if @new_form.size > 0 and @cadastro.formulario.permissao(@sessao_usuario.usuario) > 1 %>
  <div class="formulario">
    <% form_remote_tag :url=>(url_for(new_ecm_cadastro_artefato_path(@cadastro))), :method=>"get" do -%>
      <%= submit_tag 'Novo Artefato' %>
      <%= select_tag :formulario_id, options_for_select(@new_form) %>
    <% end -%>
  </div>
  <% end %>
  <div class="hide_artefato">
    <%= link_to_remote "Esconder Artefatos", :url=>{:controller=>"/ecm/artefatos", :action=>"clean"}, :method=>"get" %>
  </div>
</div>
<div id="new_artefato">
</div>
<table id="listar">
    <% @cadastro.children.each do |artefato| %>
    <tr>
      <td class="lista_item">
       <%= link_to("download", :controller=>"/ecm/artefatos/download/#{artefato.id}") %>
      </td>
       <td class="lista_conteudo"">
        <h3><%= artefato.formulario.titulo %></h3>
        <ul>
          <% artefato.formulario.itensformularios.sort_by{|it| it.posicao}.each do |form_item| %>
          <li>
              <b><%= form_item.rotulo %> :</b><%= ecm_show_cadastro_item(form_item, artefato) %>
          </li>
          <% end %>
          <% if artefato.artefato.ocr %>
            <%= link_to("OCR", {:controller=>"/ecm/artefatos/ocr/#{artefato.id}"}, :popup=>true) %>
          <% end %>
        </ul>
       </td>
       <td>
          <% if @cadastro.formulario.permissao(@sessao_usuario.usuario) > 2  %>
            <%= link_to("Excluir", ecm_cadastro_artefato_path(@cadastro, artefato), :method=>"delete", :confirm => 'Exclur permanentemente o Cadastro e todos seus artefatos?') %>
          <% end %>
       </td>
    </tr>
	  <% end %>
</table>

