<div id="barra_titulo">
  <h3 class="titulo_index">Lista de Artefatos</h3>
  <% if @new_form.size > 0 and @cadastro.formulario.permissao(@sessao_usuario.usuario) > 1 %>
  <div class="formulario">
    <% form_remote_tag :url=>(url_for(new_ecm_cadastro_artefato_path(@cadastro))), :method=>"get" do -%>
      <%= select_tag :formulario_id, options_for_select(@new_form) %>
      <%= submit_tag 'Novo Artefato' %>
    <% end -%>
  </div>
  <% end %>
  <div id="link_botao">
    <%= link_to_remote "Esconder Artefatos", :url=>{:controller=>"/ecm/artefatos", :action=>"clean"}, :method=>"get" %>
  </div>
</div>
<div id="new_artefato">
</div>
<table id="listar">
    <% @cadastro.children.each do |artefato| %>
    <tr>
      <td class="lista_item">
       <%= link_to("download", :controller=>"/ecm/artefatos/download/#{artefato.id}") %>
      </td>
       <td class="lista_conteudo"">
        <h3><%= artefato.formulario.titulo %></h3>
        <ul>
          <li>
            <% artefato.formulario.itensformularios.each do |form_item| %>
                 <b><%= form_item.rotulo %> :</b>
                 <%= ecm_show_cadastro_item(form_item, artefato.busca_form_item(form_item)) %>
          </li>
            <% end %>
        </ul>
       </td>
    </tr>
	  <% end %>
</table>

