<h3 class="titulo_new">Novo Artefato</h3>
<div class="comentario">
  <% form_for @cadastro, :url=>(url_for(ecm_cadastro_artefatos_path(@parent))), :action=>"create", :html => {:multipart => true} do |f| %>
    <%= f.hidden_field :entidade_id, :value=>@sessao_usuario.entidade_id %>
    <%= f.hidden_field :usuario_id, :value=>@sessao_usuario.usuario_id %>
    <%= f.hidden_field :formulario_id, :value=>@formulario.id %>
    <%= f.hidden_field :formulariocategoria_id, :value=>@formulario.formulariocategoria_id %>
    <%= f.hidden_field :formulariotipo_id, :value=>@formulario.formulariotipo_id %>
    <table class="artefato">
      <tr>
         <td class="lista_item"><%= f.label :objeto ,'Artefato'%></td>
         <td class="lista_conteudo"><%= f.file_field :objeto %></td>
      </tr>
      <tr>
         <td class="lista_item">Reconhecer Caracteres do Documento</td>
         <td class="lista_conteudo"><%= check_box_tag :ocr %>
           <p>O processo de Reconhecimento de Caracteres do Documento(OCR) pode ser realizado em documentos texto,
           ou seja documentos que contenham textos em seu conteúdo. O resultado do processo será usado para pesquisa
           no conteúdo destes documentos. O sistema de reconhecimento de caracteres so pode ser realizado em arquivos
           do tipo imagem(png, jpg, bmp, tif, etc) com resolução de 300dpi e imagens bem alinhadas para garantir a
           qualidade do processo. O processo de OCR é pesado de demanda tempo de processamento.</p>
         </td>
      </tr>
      <% @formulario.itensformularios.each do |form_item| %>
      <tr>
         <td class="lista_item"> <%= form_item.rotulo %></td>
         <td class="lista_conteudo"><%= ecm_new_cadastro_item(form_item) unless @params %></td>
      </tr>
          <%= ecm_new_cadastro_item(form_item, @params) if @params %>
      <% end %>
      <tr>
        <td class="lista_item"></td>
        <td><%= f.submit 'Salvar' %></td>
      </tr>
  <% end %>
    </table>

