<div id="barra_titulo">
  <h3 class="titulo_edit">Alterar Formulario</h3>
</div>

<table class="formulario">
  <% form_for @formulario, :url=>{:action=>'update'} do |f| %>
    <tr>  
        <td class="error_messages"><%= f.error_messages %></td>
    </tr>
    <tr>
        <td class="lista_item"><%= f.label :formulariotipo_id %></td>
        <td class="lista_conteudo"><%= f.select :formulariotipo_id, Formulariotipo.ativo.all.collect {|t| [t.tipo, t.id]} %></td>
    </tr>
    <tr>  
        <td class="lista_item"><%= f.label :titulo %></td>
        <td class="lista_conteudo"><%= f.text_field :titulo %></td>
    </tr>
    <tr>
        <td class="lista_item"><%= f.label :descricao, 'Descrição' %></td>
        <td class="lista_conteudo"><%= f.text_field :descricao %></td>
     </tr>
     <tr>
        <td class="lista_item"/>
        <td class="lista_conteudo"><%= f.submit 'Salvar', :class=>"botao_formulario" %></td>
  <% end %>
</table>

<div id="link_voltar">
  <%= link_to 'Voltar', ecm_categoria_formulario_path(@categoria, @formulario) %>
</div>

