<div id="barra_titulo">
  <h3 class="titulo_new">Cadastro de Formulario</h3>
</div>
<table class="formulario">
  <% form_for @formulario, :url=>{:action=>'create'} do |f| %>
   <tr>   
      <td class="error_messages" colspan=2>
        <%= f.error_messages %>
        <%= f.hidden_field :entidade_id, :value=>@sessao_usuario.usuario.entidade_id %>
      </td>
   </tr>
   <tr>
      <td class="lista_item"><%= f.label :formulariotipo_id %></td>
      <td class="lista_conteudo"><%= f.select :formulariotipo_id, Formulariotipo.ativo.all.collect {|t| [t.tipo, t.id]} %></td>
   </tr>
   <tr>
      <td class="lista_item"><%= f.label :titulo %></td>
      <td class="lista_conteudo"><%= f.text_field :titulo %></td>
   </tr>
   <tr>
      <td class="lista_item"><%= f.label :descricao, 'Descrição' %></td>
      <td class="lista_conteudo"><%= f.text_field :descricao %></td>
   </tr>
   <tr>
      <td class="lista_item"/>
      <td class="lista_conteudo"><%= f.submit 'Salvar', :class=>"botao_formulario" %></td>
   </tr>
  <% end %>
</table>
<div id="link_voltar">
  <%= link_to 'Voltar', ecm_categoria_formularios_path(@categoria) %>
</div>

