<div id="barra_titulo">
  <h3 id="titulo_edit">Editar Modulo</h3>
</div>

<table class="formulario">
  <% form_for @modulo, :url=>{:action=>'update'} do |f| %>
  <tr>
      <td class="error_messages"><%= f.error_messages %></td>
  </tr>
  <tr>
      <td class="lista_item"><%= f.label :nome %></td>
      <td class="lista_conteudo"><%= f.text_field :nome %></td>
  </tr>
  <tr>
      <td class="lista_item"><%= f.label :descricao, 'Descrição' %></td>
      <td class="lista_conteudo"><%= f.text_field :descricao %></td>
  </tr>
  <tr>
      <td class="lista_item"/>
      <td class="lista_conteudo"><%= f.submit 'Salvar', :class=>"botao_formulario" %></td>
  </tr>
  <% end %>
</table>

<div id="link_voltar">
  <%= link_to 'Voltar', core_modulo_path(@modulo) %>
</div>

