<div id="barra_titulo">
  <h3 id="titulo_edit">Alterar Perfil da Entidade</h3>
</div>

<div class="formulario">
  <% form_for @sessao_usuario.entidade, :url=>{:action=>'update'}, :html => { :multipart => true }  do |f| %>
    <%= f.error_messages %>
    <%= f.label :Tema %><br>
    <%= f.select :tema, Dir.open("public/theme").collect {|t| [t] if t != "." and t != ".."}.compact %><br>
    <%= f.label :Logo %><br><%= f.file_field :logo %><br><br>
    <%= f.submit 'Salvar', :class=>"botao_formulario" %>
  <% end %>
</div>

<div id="link_voltar">
  <%= link_to 'Voltar', :action=>"index" %>
</div>

