<div id="barra_titulo">
  <h3 class="titulo_edit">Alterar Perfil da Entidade</h3>
</div>

<table class="formulario">
  <% form_for @sessao_usuario.entidade, :url=>{:action=>'update'}, :html => { :multipart => true }  do |f| %>
   <tr>   
      <td class="error_messages"><%= f.error_messages %></td>
   </tr>
   <tr>
      <td class="lista_item"><%= f.label :Tema %></td>
      <td class="lista_conteudo"><%= f.select :tema, Dir.open("public/theme").collect {|t| [t] if t != "." and t != ".."}.compact %></td>
   </tr>
   <tr>
      <td class="lista_item"><%= f.label :Logo %></td>
      <td class="lista_conteudo"><%= f.file_field :logo %></td>
   </tr>
   <tr>
      <td class="lista_item"/>
      <td class="lista_conteudo"><%= f.submit 'Salvar', :class=>"botao_formulario" %></td>
   </tr>
  <% end %>
</table>

<div id="link_voltar">
  <%= link_to 'Voltar', :action=>"index" %>
</div>

