<div id="barra_titulo">
  <h3 class="titulo_index">Lista de Sistemas - <%= @modulo.nome%></h3>
  <div class="new_sistema">
    <%= link_to 'Novo Sistema', new_core_modulo_sistema_path(@modulo) %>
  </div>
</div>

<table id="listar">
  <tr>
    <th class="titulo_lista">Nome</th>
    <th class="titulo_lista">Status</th>
  </tr>
  <% @modulo.sistemas.each do |sistema| %>
  <tr>
    <td class="itens_index"><%= link_to sistema.nome, core_modulo_sistema_path(@modulo, sistema) %></td>
    <td class="itens_index"><%=h status(sistema.status) %></td>
  </tr>
  <% end %>
</table>

<div id="link_voltar">
  <%= link_to 'Voltar', core_modulos_path %>
</div>

