<div id="barra_titulo">
  <h3 id="titulo_new">Cadastrar Sistema</h3>
</div>

<table class="formulario">
  <% form_for @sistema, :url=>{:action=>'create'} do |f| %>
   <tr>   
      <td class="error_messages"><%= f.error_messages %></td>
   </tr>
   <tr>
      <td class="lista_item"><%= f.label :nome %></td>
      <td class="lista_conteudo"><%= f.text_field :nome %></td>
   </tr>
   <tr>
      <td class="lista_item"><%= f.label :descricao, 'Descrição' %></td>
      <td class="lista_conteudo"><%= f.text_field :descricao %></td>
   </tr>
   <tr>
      <td class="lista_item"><%= f.label :rota %></td>
      <td class="lista_conteudo"><%= f.text_field :rota %></td>
   </tr>
   <tr>
      <td class="lista_item"><%= f.label :controle %></td>
      <td class="lista_conteudo"><%= f.text_field :controle %></td>
   </tr>
   <tr>
      <td class="lista_item"/><%= f.label :menu %></td>
      <td class=="lista_conteudo"><%= f.check_box :menu %></td>
   </tr>
   <tr>
      <td class="lista_item"/>
      <td class="lista_conteudo"><%= f.submit 'Salvar', :class=>"botao_formulario" %></td>
   </tr>
  <% end %>
</table>

<div id="link_voltar">
  <%= link_to 'Voltar', core_modulo_sistemas_path(@sistema.modulo) %>
</div>

