<div id="barra_titulo">
  <h3 class="titulo_index">Histórico de Menssagens</h3>
</div>
<div id="historico_microblog">

<h3>Mensagem de Seguidos</h3>
<% @menssagens.each do |m| %>
<div class="mensagem">
 <div class="avatar">
  <% if m.usuario.avatar_file_name %>
    <%= image_tag m.usuario.avatar.url, :size=>"48x48" %>
  <% else %>
    <%= image_tag "user.png" %>
  <% end %>
 </div>
 <b><%= m.usuario.nome %>: &nbsp;</b>
 <p>
   <%= m.menssagem %>
 </p>
 <b class="hmensagem"><%= m.created_at.to_s_br %></b>
</div>
<% end %>
<p><%= will_paginate @menssagens %></p>
    </div>

