<table id="listar">
  </tr>
    <th class="titulo_lista"><%= @principal.rotulo %> | Foram encontrados <%= @cadastro_itens.size.to_s %> Cadastros</th>
  </tr>
    <% @cadastro_itens.each do |cadastro_item| %>
    <tr>
      <td class="itens_index">
        <%= link_to ecm_show_cadastro_item(@principal, cadastro_item), ecm_formulario_cadastro_path(@formulario, cadastro_item.cadastro_id) %>
        <% if @tipo == "avancado" %>
          <ul>
            <% cadastro_item.cadastro.formulario.itensformularios.each do |form_item| %>
            <li>
             <%= form_item.rotulo %>:
             <%= ecm_show_filtro_cadastro_item(form_item, cadastro_item.cadastro.busca_form_item(form_item)) %>
            </li>
            <% end %>
          </ul>
        <% end %>
      </td>
    </tr>
	  <% end %>
</table>

