<div id="barra_titulo">
  <h3 id="titulo_show">Usuario</h3>
  <div id="link_botao"><%= link_to 'Editar', edit_core_entidade_usuario_path(@usuario.entidade, @usuario) %></div>
  <div id="link_botao"><%= link_to "Ativar/Desativar", {:action=>"mudar_status", :id=>@usuario}, :confirm => 'Você tem certesa que quer ativar eu desativar esta usuario?' %></div>
</div>

<table id="listar">
  <tr>
    <td class="lista_item">Nome</td>
    <td class="lista_conteudo"><%= @usuario.nome %></td>
  </tr>
  <tr>
    <td class="lista_item">Login</td>
    <td class="lista_conteudo"><%= @usuario.login %></td>
  </tr>
  <tr>
    <td class="lista_item">Entidade</td>
    <td class="lista_conteudo"><%= @usuario.entidade.nome %></td>
  </tr>
  <tr>
    <td class="lista_item">Ativo</td>
    <td class="lista_conteudo"><%= @usuario.status %></td>
  </tr>
</table>

<div id="link_voltar">
  <%= link_to 'Voltar', core_entidade_usuarios_path(@usuario.entidade) %>&nbsp;&nbsp;&nbsp;&nbsp;
</div>

