<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="pt-br">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <%= stylesheet_link_tag "/theme/#{@entidade.tema}/stylesheets/entidade.css" %>
	  <title>Infomanager - Gertão Digital de Informação</title>
  </head>

  <body>
    <div id="login">
      <h4>Intranet</h4>
	      <% form_tag("/core/login") do %>
          Usuário:                 <%= text_field :login, :usuario %><br>
          Senha:&nbsp;&nbsp; <%= password_field :login, :senha %><br>
          <%= submit_tag "Logar"%>
        <% end %>
    </div>
    <div id="topo">
        <% if @entidade.logo_file_name %>
            <%= image_tag @entidade.logo.url %>
          <% else %>
            <%= image_tag "infodoc.gif" %>
          <% end %>
    </div>

     <div id="navcontainer">
      <ul>
        
      </ul>
    </div>

    <div id="tudo">

      <div id="conteudo">
        <div id="conteudo_customizado">
          <%= yield %>
        </div>
        <div id="publicacoes">
        Publícações de <%= @entidade.nome  %>
        </div>  
      </div>
<div style="clear: both"></div>

      </div>
    </div>
    <div id="rodape">
	      <ul>
          
        </ul>
      </div>
  </body>
</html>

