<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="pt-br">
  <head>
	  <title>Infomanager - Gertão Digital de Informação</title>
	   <%= stylesheet_link_tag "/theme/infodoc/stylesheets/estilo.css" %>
  </head>

  <body>
    <div id="login">
      <h4>Intranet</h4>
	      <% form_tag("/core/login") do %>
          Usuário:                 <%= text_field :login, :usuario %><br>
          Senha:&nbsp;&nbsp; <%= password_field :login, :senha %><br>
          <%= submit_tag "Logar"%>
        <% end %>
    </div>
    <div id="topo">
            <%= image_tag "infomanager.gif" ,:height=>"90px" %>
    </div>

     <div id="navcontainer">
      <ul>
        <li><a href="/">Home</a><b>|</b></li>
        <li><a href="/noticias">Noticias</a><b>|</b></li>
        <li><a href="/servicos">Serviços</a><b>|</b></li>
        <li><a href="/clientes">Clientes</a><b>|</b></li>
        <li><a href="/depoimentos">Depoimentos</a></li>
      </ul>
    </div>

    <div id="tudo">

      <div id="conteudo">
        <%= yield %>
      </div>
<div style="clear: both"></div>

      </div>
    </div>
    <div id="rodape">
	      <ul>
          <li><a href="/">Home</a><b>|</b></li>
          <li><a href="noticias">Noticias</a><b>|</b></li>
          <li><a href="/servicos">Serviços</a><b>|</b></li>
          <li><a href="/clientes">Clientes</a><b>|</b></li>
          <li><a href="/depoimentos">Depoimentos</a></li>
        </ul>
      </div>
  </body>
</html>

